body{
    background-attachment: bisque;
color:blue
font-family: "Gill Sans" , "Gill sans mt", calibri,'trebuchet ms' sans=serif
margin-left: auto;
margin-right::auto;
width: 80%



}
p{
background-color: brown;


}