P{
    color:blue ;

}
h1{
    color:aquamarine
    border: 2px solid salmon;
text-align: center;
}

.pipoca {
    color:brown


}


p{
    h1{
        color= yellow;
        border= 2px solid salmon
        background-color: text-rendering: red;;
    }
   #paodequeijo{
    
   }

}