P{
body{




}


    color:blue ;

}
h1{
    color:aquamarine
    border: 2px solid salmon;
text-align: center;
}

.pipoca {
    color:brown
body{
    blueviolet
}

}


p{
    h1{
        color= yellow;
        border= 2px solid salmom
        background-color: text-rendering: ;
    }
   #paodequeijo{


   }

}