@charset "utf-8";
.container div {
    border: 1px #ccc solid;
    padding: 10px;
}
.container {
    display: flex;
}
.container div {
    border: 1px #ccc solid;
    padding: 10px;
}
item-a {
    grid-area: header;
}
.item-b {
    grid-area: main;
}
.item-c {
    grid-area: sidebar;
}
.item-d {
    grid-area: footer;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-templateareas: 'header header header header' 'main main . sidebar' 'footer footer footer footer';
}
.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
    overflow-x: hidden;
   }
   .wrapper>div {
    background: #eee;
    padding: 1em;
   }