body {
    background-color: #f4f4f4;
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}

p:first-child {

    color: blue;
}

.mylist li:first-child {
    background: greenyellow;
}

.mylist li:nth-child(3) {
    background: grey;
}

.mylist li:last-child {
    background: yellow;
}

@charset "utf-8";

body {
    background-color: #f4f4f4;
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}
